numpy
pandas
seaborn
nbdev
jupyter
pandas
ipykernel
jupyterlab
notebook
bokeh
ipywidgets
cython
scipy
h5py
jupyterhub
rpy2
tqdm
mappy
schemdraw
emoji
pysam
click
click-log
scikit-learn
statannot
ont-fast5-api
xpore
pycoQC
nanostat